{% extends "layouts/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="my-5">

    <div class="card">
        <h5 class="d-flex align-items-center card-header">
            <div class="flex-grow-1">
                Users
            </div>
            <div class="pull-right">

            </div>
        </h5>
        <div class="card-body">
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/user/{{user.username}}">
                        {{user.username}}
                    </a>
                    {% if user.tweet_count %}
                    <span class="badge badge-primary badge-pill">
                        {{ "{:,}".format(user.tweet_count) }}
                    </span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="my-5">
    <div class="card">
        <h5 class="card-header">Predict User from Tweet</h5>
        <div class="card-body">
            <form action="/predict" method="post">
                {{ form.csrf_token }}
                <div class="input-group mb-3">
                    <textarea type="text" class="form-control"
                              name="tweet"
                              placeholder="Tweet..."
                              aria-label="Tweet"
                              aria-describedby="basic-addon1">{% if form.tweet.data %}{{ form.tweet.data}}{% endif %}</textarea>
                </div>
                {% if form.tweet.errors %}
                <ul>
                    {% for error in form.tweet.errors %}

                    <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}