{% extends "layouts/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="card-columns my-5">
    <div class="card">
        <h5 class="card-header">Add User</h5>
        <div class="card-body">
            <form action="/user/new" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control"
                           name="username"
                           placeholder="Username"
                           aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Users</h5>
        <div class="card-body">
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ user.username }}
                    {% if user.tweet_count %}
                    <span class="badge badge-primary badge-pill">
                                {{ user.tweet_count }}
                            </span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}