.card-columns {
    column-count: 1;
}

@media (min-width: 768px) {

    .card-columns {
        column-count: 2;
    }

}

.results tr:first-child {
    font-weight:bold;
}

.results tr:not(:first-child) {
    font-weight:200;
    color:#aaa;
}